html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

p {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    margin: 24px;
}

.result-section {
    border-top: 3px solid skyblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

input {
    border-radius: 10px;
    padding: 8px 24px;
    outline: none;
    border: 1px solid skyblue;
}

.search-section button {
    padding: 8px 15px;
    border-radius: 10px;
    background-color: skyblue;
    border: none;
}

.noun-section, .verb-section {
    padding-top: 4px;
    padding: 16px;
}

.word {
    font-size: 32px;
    font-weight: bold;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    background-color: skyblue;
}

.noun-display, .verb-display {
    margin: 16px 0px 0px 16px;
}

/* .display-phonetic {
    border: 1px solid skyblue;
    padding: 16px;
} */